<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Battle</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link href='https://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Lato:400,700,900' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="container">
    <div class="names text-center">
      <%= @player_1_name %> vs. <%= @player_2_name %>
    </div>
    <div class="col-sm-6 text-center">
      <%= @player_1_name %>: <%= $player_1.hit_points %>HP
    </div>
    <div class="col-sm-6 text-center">
      <%= @player_2_name %>: <%= $player_2.hit_points %>HP
    </div>
    <div class="col-sm-12 text-center">
      <a class="btn btn-primary" href="/attack">Attack</a>
    </div>
  </div>
</body>
</html>
